@page "/"
@inject NavigationManager Navigation
@using Syncfusion.Blazor.Buttons

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="p-5 bg-light rounded shadow">
                <h1 class="display-4">Welcome to the Macronutrient Calculator!</h1>
                <p class="lead mt-3">
                    Track your macronutrient needs, track your weight, and monitor your body composition with ease.
                </p>
                <hr class="my-4" />
                <h4>Features</h4>
                <ul class="mb-2">
                    <li class="mb-2">
                        <i class="bi bi-check-circle-fill text-success"></i>
                        Calculate your macronutrient requirements.
                    </li>
                    <li class="mb-2">
                        <i class="bi bi-check-circle-fill text-success"></i>
                        Track your weight and body composition.
                    </li>
                </ul>
                <div class="mt-4">
                    <SfButton CssClass="btn btn-primary btn-lg" onclick="@GoToLogin">Login</SfButton>
                    <SfButton CssClass="btn btn-secondary btn-lg ms-3" onclick="@GoToRegister">Register</SfButton>
                </div>
            </div>
        </div>
    </div>
</div>



@code {
    void GoToLogin() => Navigation.NavigateTo("/login");
    void GoToRegister() => Navigation.NavigateTo("/register");
}
